dist: trusty
language: node_js
node_js:
- stable
script:
- npm run coverage
after_success:
- npm run publish-coverage
notifications:
  email:
    recipients:
    - 840762603@qq.com
    on_success: never
    on_failure: always

